<?xml version="1.0" encoding="UTF-8"?>

<!--
STRUCTURE:
	<globals>: Settings which apply to the entire script. Unified logging, etc...
	> <app> = used for 1:N configurations, type, region, and environment attributes are for logging only.
              script will loop through every <app> element in this file, use caution.
	> > <handler> = acccepts 2 attributes:
			        settingsfile = where the stored settings are located for this apptype/appregion/appenvironment combination.
			        activefile = what file the settings should apply to and ultimately overwrite for this apptype/appregion/appenvironment.
			        ex. <handler settingsfile="c:\path\to\some\file.settings" activefile="c:\inetpub\www\path\to\file.config"></handler>
    > > > <runtime> = accepts 5 attributes:
                      tokenizer = the tokenize function to use with this activeFile.
                      tag = used to limit the tokenizer to the specified values inside the settingsfile.
                      allowblanktag = true or false. used to tell the tokenizer whether to include blank tags in the settings file.
                      tokenonly = true or false. used to output just the token specified in the settingsfile.
                      testmode = true or false. used to make a copy (ending in .test) instead of overwriting the original file.
-->

<root>
	<globals>
		<logfile>{{MYLOCATION}}\logs\auto-app-configure-{{DATE}}.log</logfile>
	</globals>
    <app type="HITS3" region="US" environment="QA">

        <!-- DCNA2-Q-SQL-01 -->

        <handler settingsfile="{{APPSETTINGS}}\QA\US\Common\QA-Logging-Keys.csv" activefile="{{SERVICEROOT}}\Exascale Service\LoggingConfiguration.config">
            <runtime tokenizer="Tokenize-XML" tag="Logging-General" allowblanktag="true" tokenonly="false" testmode="true" ></runtime>
        </handler>

        <handler settingsfile="{{APPSETTINGS}}\QA\US\Common\QA-Connection-Keys.csv" activefile="{{SERVICEROOT}}\Exascale Service\ConnectionStrings.config">
            <runtime tokenizer="Tokenize-XML" tag="Connection-General" allowblanktag="true" tokenonly="false" testmode="true" ></runtime>
        </handler>

        <handler settingsfile="{{APPSETTINGS}}\QA\US\Common\QA-Logging-Keys.csv" activefile="{{SERVICEROOT}}\Enrollment_Service\LoggingConfiguration.config">
            <runtime tokenizer="Tokenize-XML" tag="Logging-General" allowblanktag="true" tokenonly="false" testmode="true" ></runtime>
        </handler>

        <handler settingsfile="{{APPSETTINGS}}\QA\US\Common\QA-Connection-Keys.csv" activefile="{{SERVICEROOT}}\Enrollment_Service\ConnectionStrings.config">
            <runtime tokenizer="Tokenize-XML" tag="Connection-General" allowblanktag="true" tokenonly="false" testmode="true" ></runtime>
        </handler>

        <!-- DCNA-Q-SQL-07 -->

        <handler settingsfile="{{APPSETTINGS}}\QA\US\Common\QA-Logging-Keys.csv" activefile="{{SERVICEROOT}}\Exascale Service\LoggingConfiguration.config">
            <runtime tokenizer="Tokenize-XML" tag="Logging-General" allowblanktag="true" tokenonly="false" testmode="true" ></runtime>
        </handler>

        <handler settingsfile="{{APPSETTINGS}}\QA\US\Common\QA-Connection-Keys.csv" activefile="{{SERVICEROOT}}\Exascale Service\ConnectionStrings.config">
            <runtime tokenizer="Tokenize-XML" tag="Connection-General" allowblanktag="true" tokenonly="false" testmode="true" ></runtime>
        </handler>

        <handler settingsfile="{{APPSETTINGS}}\QA\US\Common\QA-Logging-Keys.csv" activefile="{{SERVICEROOT}}\Enrollment_Service\LoggingConfiguration.config">
            <runtime tokenizer="Tokenize-XML" tag="Logging-General" allowblanktag="true" tokenonly="false" testmode="true" ></runtime>
        </handler>

        <handler settingsfile="{{APPSETTINGS}}\QA\US\Common\QA-Connection-Keys.csv" activefile="{{SERVICEROOT}}\Enrollment_Service\ConnectionStrings.config">
            <runtime tokenizer="Tokenize-XML" tag="Connection-General" allowblanktag="true" tokenonly="false" testmode="true" ></runtime>
        </handler>

        <handler settingsfile="{{APPSETTINGS}}\QA\US\Common\QA-Logging-Keys.csv" activefile="{{SERVICEROOT}}\FPC Enrollment Service\LoggingConfiguration.config">
            <runtime tokenizer="Tokenize-XML" tag="Logging-General" allowblanktag="true" tokenonly="false" testmode="true" ></runtime>
        </handler>

        <handler settingsfile="{{APPSETTINGS}}\QA\US\Common\QA-Connection-Keys.csv" activefile="{{SERVICEROOT}}\FPC Enrollment Service\ConnectionStrings.config">
            <runtime tokenizer="Tokenize-XML" tag="Connection-General" allowblanktag="true" tokenonly="false" testmode="true" ></runtime>
        </handler>

        <!-- Exascale Webservice-->

        <handler settingsfile="{{APPSETTINGS}}\QA\US\Common\QA-Logging-Keys.csv" activefile="{{WEBAPPROOT}}\Exascale.Brightstar.WebService.Custom\bin\LoggingConfiguration.config">
            <runtime tokenizer="Tokenize-XML" tag="Logging-General" allowblanktag="true" tokenonly="false" testmode="true" ></runtime>
        </handler>

        <handler settingsfile="{{APPSETTINGS}}\QA\US\Common\QA-Connection-Keys.csv" activefile="{{WEBAPPROOT}}\Exascale.Brightstar.WebService.Custom\bin\ConnectionStrings.config">
            <runtime tokenizer="Tokenize-XML" tag="Connection-General" allowblanktag="true" tokenonly="false" testmode="true" ></runtime>
        </handler>

        <handler settingsfile="{{APPSETTINGS}}\QA\US\Common\QA-Web-Keys.csv" activefile="{{WEBAPPROOT}}\Exascale.Brightstar.WebService.Custom\Web.config">
            <runtime tokenizer="Tokenize-XML" tag="" allowblanktag="true" tokenonly="false" testmode="true" ></runtime>
        </handler>

        <handler settingsfile="{{APPSETTINGS}}\QA\US\Common\QA-Logging-Keys.csv" activefile="{{WEBAPPROOT}}\Exascale\WebService\bin\LoggingConfiguration.config">
            <runtime tokenizer="Tokenize-XML" tag="Logging-General" allowblanktag="true" tokenonly="false" testmode="true" ></runtime>
        </handler>

        <handler settingsfile="{{APPSETTINGS}}\QA\US\Common\QA-Connection-Keys.csv" activefile="{{WEBAPPROOT}}\Exascale\WebService\bin\ConnectionStrings.config">
            <runtime tokenizer="Tokenize-XML" tag="Connection-General" allowblanktag="true" tokenonly="false" testmode="true" ></runtime>
        </handler>

        <handler settingsfile="{{APPSETTINGS}}\QA\US\Common\QA-Web-Keys.csv" activefile="{{WEBAPPROOT}}\Exascale\WebService\Web.config">
            <runtime tokenizer="Tokenize-XML" tag="" allowblanktag="true" tokenonly="false" testmode="true" ></runtime>
        </handler>

        <!-- Fraud Detection -->

        <handler settingsfile="{{APPSETTINGS}}\QA\US\Common\QA-Logging-Keys.csv" activefile="{{WEBAPPROOT}}\Exascale\FraudDetection.Web\bin\LoggingConfiguration.config">
            <runtime tokenizer="Tokenize-XML" tag="Logging-General" allowblanktag="true" tokenonly="false" testmode="true" ></runtime>
        </handler>

        <handler settingsfile="{{APPSETTINGS}}\QA\US\Common\QA-Connection-Keys.csv" activefile="{{WEBAPPROOT}}\Exascale\FraudDetection.Web\bin\ConnectionStrings.config">
            <runtime tokenizer="Tokenize-XML" tag="Connection-General" allowblanktag="true" tokenonly="false" testmode="true" ></runtime>
        </handler>

        <handler settingsfile="{{APPSETTINGS}}\QA\US\Common\QA-Web-Keys.csv" activefile="{{WEBAPPROOT}}\Exascale\FraudDetection.Web\Web.config">
            <runtime tokenizer="Tokenize-XML" tag="" allowblanktag="true" tokenonly="false" testmode="true" ></runtime>
        </handler>

        <handler settingsfile="{{APPSETTINGS}}\QA\US\Common\QA-Logging-Keys.csv" activefile="{{WEBAPPROOT}}\FraudDetection.Webservice\bin\LoggingConfiguration.config">
            <runtime tokenizer="Tokenize-XML" tag="Logging-General" allowblanktag="true" tokenonly="false" testmode="true" ></runtime>
        </handler>

        <handler settingsfile="{{APPSETTINGS}}\QA\US\Common\QA-Connection-Keys.csv" activefile="{{WEBAPPROOT}}\FraudDetection.Webservice\bin\ConnectionStrings.config">
            <runtime tokenizer="Tokenize-XML" tag="Connection-General" allowblanktag="true" tokenonly="false" testmode="true" ></runtime>
        </handler>

        <handler settingsfile="{{APPSETTINGS}}\QA\US\Common\QA-Web-Keys.csv" activefile="{{WEBAPPROOT}}\FraudDetection.Webservice\Web.config">
            <runtime tokenizer="Tokenize-XML" tag="" allowblanktag="true" tokenonly="false" testmode="true" ></runtime>
        </handler>

        <!-- IVR Service -->

        <handler settingsfile="{{APPSETTINGS}}\QA\US\Common\QA-Logging-Keys.csv" activefile="{{WEBAPPROOT}}\IVRService\bin\LoggingConfiguration.config">
            <runtime tokenizer="Tokenize-XML" tag="Logging-General" allowblanktag="true" tokenonly="false" testmode="true" ></runtime>
        </handler>

        <handler settingsfile="{{APPSETTINGS}}\QA\US\Common\QA-Web-Keys.csv" activefile="{{WEBAPPROOT}}\IVRService\Web.config">
            <runtime tokenizer="Tokenize-XML" tag="" allowblanktag="true" tokenonly="false" testmode="true" ></runtime>
        </handler>

        <handler settingsfile="{{APPSETTINGS}}\QA\US\Common\QA-Logging-Keys.csv" activefile="{{WEBAPPROOT}}\Exascale\IVR.Internal.WebService\bin\LoggingConfiguration.config">
            <runtime tokenizer="Tokenize-XML" tag="Logging-General" allowblanktag="true" tokenonly="false" testmode="true" ></runtime>
        </handler>

        <handler settingsfile="{{APPSETTINGS}}\QA\US\Common\QA-Connection-Keys.csv" activefile="{{WEBAPPROOT}}\Exascale\IVR.Internal.WebService\bin\ConnectionStrings.config">
            <runtime tokenizer="Tokenize-XML" tag="Connection-General" allowblanktag="true" tokenonly="false" testmode="true" ></runtime>
        </handler>

        <handler settingsfile="{{APPSETTINGS}}\QA\US\Common\QA-Web-Keys.csv" activefile="{{WEBAPPROOT}}\Exascale\IVR.Internal.WebService\Web.config">
            <runtime tokenizer="Tokenize-XML" tag="" allowblanktag="true" tokenonly="false" testmode="true" ></runtime>
        </handler>

        <!-- Logistics Service -->

        <handler settingsfile="{{APPSETTINGS}}\QA\US\Common\QA-Logging-Keys.csv" activefile="{{WEBAPPROOT}}\LogisticsService\bin\LoggingConfiguration.config">
            <runtime tokenizer="Tokenize-XML" tag="Logging-General" allowblanktag="true" tokenonly="false" testmode="true" ></runtime>
        </handler>

        <handler settingsfile="{{APPSETTINGS}}\QA\US\Common\QA-Connection-Keys.csv" activefile="{{WEBAPPROOT}}\LogisticsService\bin\ConnectionStrings.config">
            <runtime tokenizer="Tokenize-XML" tag="Connection-General" allowblanktag="true" tokenonly="false" testmode="true" ></runtime>
        </handler>

        <handler settingsfile="{{APPSETTINGS}}\QA\US\Common\QA-Web-Keys.csv" activefile="{{WEBAPPROOT}}\LogisticsService\Web.config">
            <runtime tokenizer="Tokenize-XML" tag="" allowblanktag="true" tokenonly="false" testmode="true" ></runtime>
        </handler>


        <!-- Manage My Account -->

        <handler settingsfile="{{APPSETTINGS}}\QA\US\Common\QA-Logging-Keys.csv" activefile="{{WEBAPPROOT}}\Exascale\Exascale.ManageMyAccount.WebService\bin\LoggingConfiguration.config">
            <runtime tokenizer="Tokenize-XML" tag="Logging-General" allowblanktag="true" tokenonly="false" testmode="true" ></runtime>
        </handler>

        <handler settingsfile="{{APPSETTINGS}}\QA\US\Common\QA-Connection-Keys.csv" activefile="{{WEBAPPROOT}}\Exascale\Exascale.ManageMyAccount.WebService\bin\ConnectionStrings.config">
            <runtime tokenizer="Tokenize-XML" tag="Connection-General" allowblanktag="true" tokenonly="false" testmode="true" ></runtime>
        </handler>

        <handler settingsfile="{{APPSETTINGS}}\QA\US\Common\QA-Web-Keys.csv" activefile="{{WEBAPPROOT}}\Exascale\Exascale.ManageMyAccount.WebService\Web.config">
            <runtime tokenizer="Tokenize-XML" tag="" allowblanktag="true" tokenonly="false" testmode="true" ></runtime>
        </handler>


        <!-- Pack and Ship Service -->

        <handler settingsfile="{{APPSETTINGS}}\QA\US\Common\QA-Logging-Keys.csv" activefile="{{WEBAPPROOT}}\PackAndShipService\bin\LoggingConfiguration.config">
            <runtime tokenizer="Tokenize-XML" tag="Logging-General" allowblanktag="true" tokenonly="false" testmode="true" ></runtime>
        </handler>

        <handler settingsfile="{{APPSETTINGS}}\QA\US\Common\QA-Connection-Keys.csv" activefile="{{WEBAPPROOT}}\PackAndShipService\bin\ConnectionStrings.config">
            <runtime tokenizer="Tokenize-XML" tag="Connection-General" allowblanktag="true" tokenonly="false" testmode="true" ></runtime>
        </handler>

        <handler settingsfile="{{APPSETTINGS}}\QA\US\Common\QA-Web-Keys.csv" activefile="{{WEBAPPROOT}}\PackAndShipService\Web.config">
            <runtime tokenizer="Tokenize-XML" tag="" allowblanktag="true" tokenonly="false" testmode="true" ></runtime>
        </handler>


        <!-- Portal -->

        <handler settingsfile="{{APPSETTINGS}}\QA\US\Common\QA-Logging-Keys.csv" activefile="{{WEBAPPROOT}}\Exascale\Portal\bin\LoggingConfiguration.config">
            <runtime tokenizer="Tokenize-XML" tag="Logging-General" allowblanktag="true" tokenonly="false" testmode="true" ></runtime>
        </handler>

        <handler settingsfile="{{APPSETTINGS}}\QA\US\Common\QA-Connection-Keys.csv" activefile="{{WEBAPPROOT}}\Exascale\Portal\bin\ConnectionStrings.config">
            <runtime tokenizer="Tokenize-XML" tag="Connection-General" allowblanktag="true" tokenonly="false" testmode="true" ></runtime>
        </handler>

        <handler settingsfile="{{APPSETTINGS}}\QA\US\Common\QA-Web-Keys.csv" activefile="{{WEBAPPROOT}}\Exascale\Portal\Web.config">
            <runtime tokenizer="Tokenize-XML" tag="" allowblanktag="true" tokenonly="false" testmode="true" ></runtime>
        </handler>


        <!-- Returned Equipment Service -->

        <handler settingsfile="{{APPSETTINGS}}\QA\US\Common\QA-Logging-Keys.csv" activefile="{{WEBAPPROOT}}\ReturnedEquipmentService\bin\LoggingConfiguration.config">
            <runtime tokenizer="Tokenize-XML" tag="Logging-General" allowblanktag="true" tokenonly="false" testmode="true" ></runtime>
        </handler>

        <handler settingsfile="{{APPSETTINGS}}\QA\US\Common\QA-Connection-Keys.csv" activefile="{{WEBAPPROOT}}\ReturnedEquipmentService\bin\ConnectionStrings.config">
            <runtime tokenizer="Tokenize-XML" tag="Connection-General" allowblanktag="true" tokenonly="false" testmode="true" ></runtime>
        </handler>

        <handler settingsfile="{{APPSETTINGS}}\QA\US\Common\QA-Web-Keys.csv" activefile="{{WEBAPPROOT}}\ReturnedEquipmentService\Web.config">
            <runtime tokenizer="Tokenize-XML" tag="" allowblanktag="true" tokenonly="false" testmode="true" ></runtime>
        </handler>

        <!-- Self Service -->

        <handler settingsfile="{{APPSETTINGS}}\QA\US\Common\QA-Logging-Keys.csv" activefile="{{WEBAPPROOT}}\SelfService.Web\bin\LoggingConfiguration.config">
            <runtime tokenizer="Tokenize-XML" tag="Logging-General" allowblanktag="true" tokenonly="false" testmode="true" ></runtime>
        </handler>

        <handler settingsfile="{{APPSETTINGS}}\QA\US\Common\QA-Connection-Keys.csv" activefile="{{WEBAPPROOT}}\SelfService.Web\bin\ConnectionStrings.config">
            <runtime tokenizer="Tokenize-XML" tag="Connection-General" allowblanktag="true" tokenonly="false" testmode="true" ></runtime>
        </handler>

        <handler settingsfile="{{APPSETTINGS}}\QA\US\Common\QA-Web-Keys.csv" activefile="{{WEBAPPROOT}}\SelfService.Web\Web.config">
            <runtime tokenizer="Tokenize-XML" tag="" allowblanktag="true" tokenonly="false" testmode="true" ></runtime>
        </handler>

        <handler settingsfile="{{APPSETTINGS}}\QA\US\Common\QA-Logging-Keys.csv" activefile="{{WEBAPPROOT}}\Exascale\SelfService.Webservice\bin\LoggingConfiguration.config">
            <runtime tokenizer="Tokenize-XML" tag="Logging-General" allowblanktag="true" tokenonly="false" testmode="true" ></runtime>
        </handler>

        <handler settingsfile="{{APPSETTINGS}}\QA\US\Common\QA-Connection-Keys.csv" activefile="{{WEBAPPROOT}}\Exascale\SelfService.Webservice\bin\ConnectionStrings.config">
            <runtime tokenizer="Tokenize-XML" tag="Connection-General" allowblanktag="true" tokenonly="false" testmode="true" ></runtime>
        </handler>

        <handler settingsfile="{{APPSETTINGS}}\QA\US\Common\QA-Web-Keys.csv" activefile="{{WEBAPPROOT}}\Exascale\SelfService.Webservice\Web.config">
            <runtime tokenizer="Tokenize-XML" tag="" allowblanktag="true" tokenonly="false" testmode="true" ></runtime>
        </handler>

    </app>
</root>
