<?xml version="1.0" encoding="UTF-8"?>

<!--
STRUCTURE:
	<globals>: Settings which apply to the entire script. Unified logging, etc...
	> <app> = used for 1:N configurations, type, region, and environment attributes are for logging only.
              script will loop through every <app> element in this file, use caution.
	> > <handler> = acccepts 2 attributes:
			        settingsfile = where the stored settings are located for this apptype/appregion/appenvironment combination.
			        activefile = what file the settings should apply to and ultimately overwrite for this apptype/appregion/appenvironment.
			        ex. <handler settingsfile="c:\path\to\some\file.settings" activefile="c:\inetpub\www\path\to\file.config"></handler>
    > > > <runtime> = accepts 5 attributes:
                      tokenizer = the tokenize function to use with this activeFile.
                      tag = used to limit the tokenizer to the specified values inside the settingsfile.
                      allowblanktag = true or false. used to tell the tokenizer whether to include blank tags in the settings file.
                      tokenonly = true or false. used to output just the token specified in the settingsfile.
                      testmode = true or false. used to make a copy (ending in .test) instead of overwriting the original file.
-->

<root>
	<globals>
		<logfile>{{MYLOCATION}}\logs\auto-app-configure-{{DATE}}.log</logfile>
	</globals>
    <app type="NEXUS" region="US" environment="QA">

        <!-- DCNA-Q-SIS-02 -->

        <handler settingsfile="{{APPSETTINGS}}\QA\US\Common\QA-Logging-Keys.csv" activefile="{{SERVICEROOT}}\Nexus_Billing_MRCProcessor\LoggingConfiguration.config">
            <runtime tokenizer="Tokenize-XML" tag="Logging-General" allowblanktag="true" tokenonly="false" testmode="false" ></runtime>
        </handler>

        <handler settingsfile="{{APPSETTINGS}}\QA\US\Common\QA-Logging-Keys.csv" activefile="{{SERVICEROOT}}\Nexus_BillingService\LoggingConfiguration.config">
            <runtime tokenizer="Tokenize-XML" tag="Logging-General" allowblanktag="true" tokenonly="false" testmode="false" ></runtime>
        </handler>

        <!-- DCNA2-Q-SQL-01 -->

        <handler settingsfile="{{APPSETTINGS}}\QA\US\Common\QA-Logging-Keys.csv" activefile="{{SERVICEROOT}}\Nexus_Billing_MRCProcessor\LoggingConfiguration.config">
            <runtime tokenizer="Tokenize-XML" tag="Logging-General" allowblanktag="true" tokenonly="false" testmode="false" ></runtime>
        </handler>

        <!-- Nexus.BillingSystem.Web -->

        <handler settingsfile="{{APPSETTINGS}}\QA\US\Common\QA-Logging-Keys.csv" activefile="{{WEBAPPROOT}}\BillingSystem.Web\bin\LoggingConfiguration.config">
            <runtime tokenizer="Tokenize-XML" tag="Logging-General" allowblanktag="true" tokenonly="false" testmode="false" ></runtime>
        </handler>

        <handler settingsfile="{{APPSETTINGS}}\QA\US\Common\QA-Connection-Keys.csv" activefile="{{WEBAPPROOT}}\BillingSystem.Web\bin\ConnectionStrings.config">
            <runtime tokenizer="Tokenize-XML" tag="Connection-General" allowblanktag="true" tokenonly="false" testmode="true" ></runtime>
        </handler>

        <handler settingsfile="{{APPSETTINGS}}\QA\US\Common\QA-Web-Keys.csv" activefile="{{WEBAPPROOT}}\BillingSystem.Web\Web.config">
            <runtime tokenizer="Tokenize-XML" tag="" allowblanktag="true" tokenonly="false" testmode="true" ></runtime>
        </handler>

        <!-- Nexus.BillingSystem.WebService -->

        <handler settingsfile="{{APPSETTINGS}}\QA\US\Common\QA-Logging-Keys.csv" activefile="{{WEBAPPROOT}}\BillingSystem.WebService\bin\LoggingConfiguration.config">
            <runtime tokenizer="Tokenize-XML" tag="Logging-General" allowblanktag="true" tokenonly="false" testmode="false" ></runtime>
        </handler>

        <handler settingsfile="{{APPSETTINGS}}\QA\US\Common\QA-Connection-Keys.csv" activefile="{{WEBAPPROOT}}\BillingSystem.WebService\bin\ConnectionStrings.config">
            <runtime tokenizer="Tokenize-XML" tag="Connection-General" allowblanktag="true" tokenonly="false" testmode="true" ></runtime>
        </handler>

        <handler settingsfile="{{APPSETTINGS}}\QA\US\Common\QA-Web-Keys.csv" activefile="{{WEBAPPROOT}}\BillingSystem.WebService\Web.config">
            <runtime tokenizer="Tokenize-XML" tag="" allowblanktag="true" tokenonly="false" testmode="true" ></runtime>
        </handler>

        <!-- Nexus.Communication.Web -->

        <handler settingsfile="{{APPSETTINGS}}\QA\US\Common\QA-Logging-Keys.csv" activefile="{{WEBAPPROOT}}\Exascale\Nexus.Communication.Web\bin\LoggingConfiguration.config">
            <runtime tokenizer="Tokenize-XML" tag="Logging-General" allowblanktag="true" tokenonly="false" testmode="false" ></runtime>
        </handler>

        <handler settingsfile="{{APPSETTINGS}}\QA\US\Common\QA-Connection-Keys.csv" activefile="{{WEBAPPROOT}}\Exascale\Nexus.Communication.Web\bin\ConnectionStrings.config">
            <runtime tokenizer="Tokenize-XML" tag="Connection-General" allowblanktag="true" tokenonly="false" testmode="true" ></runtime>
        </handler>

        <handler settingsfile="{{APPSETTINGS}}\QA\US\Common\QA-Web-Keys.csv" activefile="{{WEBAPPROOT}}\Exascale\Nexus.Communication.Web\Web.config">
            <runtime tokenizer="Tokenize-XML" tag="" allowblanktag="true" tokenonly="false" testmode="true" ></runtime>
        </handler>

        <!-- Nexus.Communication.WebService -->

        <handler settingsfile="{{APPSETTINGS}}\QA\US\Common\QA-Logging-Keys.csv" activefile="{{WEBAPPROOT}}\Exascale\Nexus.Communication.WebService\LoggingConfiguration.config">
            <runtime tokenizer="Tokenize-XML" tag="Logging-General" allowblanktag="true" tokenonly="false" testmode="false" ></runtime>
        </handler>

        <handler settingsfile="{{APPSETTINGS}}\QA\US\Common\QA-Connection-Keys.csv" activefile="{{WEBAPPROOT}}\Exascale\Nexus.Communication.WebService\bin\ConnectionStrings.config">
            <runtime tokenizer="Tokenize-XML" tag="Connection-General" allowblanktag="true" tokenonly="false" testmode="true" ></runtime>
        </handler>

        <handler settingsfile="{{APPSETTINGS}}\QA\US\Common\QA-Web-Keys.csv" activefile="{{WEBAPPROOT}}\Exascale\Nexus.Communication.WebService\Web.config">
            <runtime tokenizer="Tokenize-XML" tag="" allowblanktag="true" tokenonly="false" testmode="true" ></runtime>
        </handler>

        <!-- Nexus.Monitoring.Web -->

        <handler settingsfile="{{APPSETTINGS}}\QA\US\Common\QA-Logging-Keys.csv" activefile="{{WEBAPPROOT}}\Nexus.Monitoring.Web\bin\LoggingConfiguration.config">
            <runtime tokenizer="Tokenize-XML" tag="Logging-General" allowblanktag="true" tokenonly="false" testmode="false" ></runtime>
        </handler>

        <handler settingsfile="{{APPSETTINGS}}\QA\US\Common\QA-Connection-Keys.csv" activefile="{{WEBAPPROOT}}\Nexus.Monitoring.Web\bin\ConnectionStrings.config">
            <runtime tokenizer="Tokenize-XML" tag="Connection-General" allowblanktag="true" tokenonly="false" testmode="true" ></runtime>
        </handler>

        <handler settingsfile="{{APPSETTINGS}}\QA\US\NEXUS\Monitoring-QA-Web-Keys.csv" activefile="{{WEBAPPROOT}}\Nexus.Monitoring.Web\Web.config">
            <runtime tokenizer="Tokenize-XML" tag="Web-Nexus-Monitoring" allowblanktag="true" tokenonly="false" testmode="false" ></runtime>
        </handler>

        <!-- Nexus.Repair.Web -->

        <handler settingsfile="{{APPSETTINGS}}\QA\US\Common\QA-Logging-Keys.csv" activefile="{{WEBAPPROOT}}\Exascale\Nexus.Repair.Web\LoggingConfiguration.config">
            <runtime tokenizer="Tokenize-XML" tag="Logging-General" allowblanktag="true" tokenonly="false" testmode="false" ></runtime>
        </handler>

        <handler settingsfile="{{APPSETTINGS}}\QA\US\Common\QA-Connection-Keys.csv" activefile="{{WEBAPPROOT}}\Exascale\Nexus.Repair.Web\ConnectionStrings.config">
            <runtime tokenizer="Tokenize-XML" tag="Connection-General" allowblanktag="true" tokenonly="false" testmode="true" ></runtime>
        </handler>

        <handler settingsfile="{{APPSETTINGS}}\QA\US\Common\QA-Web-Keys.csv" activefile="{{WEBAPPROOT}}\Exascale\Nexus.Repair.Web\Web.config">
            <runtime tokenizer="Tokenize-XML" tag="" allowblanktag="true" tokenonly="false" testmode="true" ></runtime>
        </handler>

    </app>
</root>
