<?xml version="1.0" encoding="UTF-8"?>

<!--
STRUCTURE:
	<globals>: Settings which apply to the entire script. Unified logging, etc...
	> <app> = used for 1:N configurations, type, region, and environment attributes are for logging only.
              script will loop through every <app> element in this file, use caution.
	> > <handler> = acccepts 2 attributes:
			        settingsfile = where the stored settings are located for this apptype/appregion/appenvironment combination.
			        activefile = what file the settings should apply to and ultimately overwrite for this apptype/appregion/appenvironment.
			        ex. <handler settingsfile="c:\path\to\some\file.settings" activefile="c:\inetpub\www\path\to\file.config"></handler>
    > > > <runtime> = accepts 5 attributes:
                      tokenizer = the tokenize function to use with this activeFile.
                      tag = used to limit the tokenizer to the specified values inside the settingsfile.
                      allowblanktag = true or false. used to tell the tokenizer whether to include blank tags in the settings file.
                      tokenonly = true or false. used to output just the token specified in the settingsfile.
                      testmode = true or false. used to make a copy (ending in .test) instead of overwriting the original file.
-->

<root>
	<globals>
		<logfile>{{MYLOCATION}}\logs\auto-app-configure-{{DATE}}.log</logfile>
	</globals>
    <app type="TEST" region="US" environment="QA">
    	<handler settingsfile="{{APPSETTINGS}}\TESTING\US\GENERIC-LOGGING-KEYS.csv" activefile="{{MYLOCATION}}\app-config-sample\bin\LoggingConfiguration.config">
            <runtime tokenizer="Tokenize-XML" tag="Logging-General" allowblanktag="true" tokenonly="false" testmode="true" ></runtime>
        </handler>
        <handler settingsfile="{{APPSETTINGS}}\TESTING\US\GENERIC-CONNECTION-KEYS.csv" activefile="{{MYLOCATION}}\app-config-sample\bin\ConnectionStrings.config">
            <runtime tokenizer="Tokenize-XML" tag="Connection-General" allowblanktag="true" tokenonly="true" testmode="true" ></runtime>
        </handler>
        <handler settingsfile="{{APPSETTINGS}}\TESTING\US\MIXED-MODE-KEY-TEST.csv" activefile="{{MYLOCATION}}\app-config-sample\Web.config">
            <runtime tokenizer="Tokenize-XML" tag="" allowblanktag="false" tokenonly="true" testmode="true" ></runtime>
        </handler>
    </app>
</root>
